.s-builds {
    padding: 6rem 0;
}

img {
    width: 100%;
}
.builds-wrapper {
    max-width: 70rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.3rem 0.5rem;
    margin: 0 auto;
}
.builds-item {

}